.box-contact{
    width: 65%;
   display: grid;   
   grid-template-columns: 1fr 1fr;
gap: 0px 20px;
background-color: var(--background-color);
   margin-bottom: 50px;
}

.icon-stack{
    padding: 6px 15px;
    display: flex;
    align-items: center;
    gap:  0px 10px;
    width: 100%;
}

.icon-contact{
    padding: 9px 15px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
 gap:  0px 10px;
 width: 100%;
    cursor: pointer;
 

}


.icon-contact:hover{
    background-color: var(--hover-nav);

}

.int-box  {
    display: flex;   
    
    flex-direction: column;
padding: 10px;
align-items: center;
 width: 100%;
   border-radius: 5px;
   background-color:var(--box-projects);
   border: var(--gray-border);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 

.int-box ul {
    list-style: none;
    width: 100%;
}





.int-box img {
    width: 200px;
    border-radius: 10px;
} 





@media only screen and (max-width: 600px){
.box-contact{
    width: 92%;
grid-template-columns: 1fr;
gap: 15px 0px

}
}