.complete-box {
    width: 100%;
   min-height: 100vh;
   display: flex;
  flex-direction: column;
   
   align-items: center;
   background-color:var(--box-projects);
   border-top: var(--gray-border);
   border-bottom: var(--gray-border)
  }
  
  
  .projects{
  max-width: 80%;
  min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    
  
  } 
  
  h3{
    padding-bottom: 15px;
  }
  
  .box-project{ 
  min-width: 280px;
  max-width: 100%;
    background-size: cover; 
    background-position: center; 
   min-height: 270px;
  border-radius: 5px;
  padding: 15px;
  color: white !important;  
  font-family: monospace;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease; 
  font-size: 0.75rem;
  line-height: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  } 
  
  .box-project a:link, a:visited, a {
    text-decoration: none;
    color: white ;
  
  }
  
  
  .box-project:hover{
  
    transform: scale(1.020);
  }
  
  .icons {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    gap:10px

  }

  
  .icon-git:hover{
  
  
    fill: rgb(192, 192, 192) ;
  }




   @media only screen and (max-width: 600px) {

  
  .projects{
    max-width: 92%;
  } 
  
  .box-project{
    height: 45vh;
   
    
  }
  
  }
