
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&family=Passion+One:wght@400;700&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
 


  

}  


body{
  color: var(--body-color);
  transition: all 0.3s ease-in-out;
 
}


body::-webkit-scrollbar {
  width: 8px; 
  border-radius: 20px;/* Ancho de la barra de desplazamiento */
} 

body::-webkit-scrollbar-thumb {
  background-image: var(--gradient); 
  border-radius: 20px;/* Color de la barra de desplazamiento */
}


@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}
  h1{
    background-image:  var(--gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  
    font-family: 'Passion One', cursive;
    font-weight: bolder;
font-size: 3.5rem;
letter-spacing: -0.04rem;
padding: 30px 0px;

  }
  
/* Aca comienzan los estilos de verdad */  

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente los elementos en el eje principal */
align-items: center;
}

@media (prefers-color-scheme: dark) {
    
  body {
    background-color: var(--body-background);
    color: var(--body-color);

    
  } 
  body::-webkit-scrollbar-thumb {
    background-image: var(--gradient) ; 
    border-radius: 20px;/* Color de la barra de desplazamiento */
  }

h1{

  background-image: var(--gradient)
} 
  
} 
